---
import Layaut from "../../layouts/Layout.astro";
const { id } = Astro.params;
const response = await fetch(
`https://api.themoviedb.org/3/movie/${id}?api_key=f3b8d97df7017db1e5c55c194e2c7af2`
);
const data = await response.json();
console.log(data);

//id de la pelicula 
const  responsevideo = await fetch(`https://api.themoviedb.org/3/movie/${id}/videos?api_key=f3b8d97df7017db1e5c55c194e2c7af2`)
const trailer = await responsevideo.json();

const firmtrailer = trailer.results.filter(one=>one.type === "Trailer");
const video=firmtrailer[0]
const youtube="https://www.youtube.com/embed/"
---

<Layaut title="Detalle de pelicula">
  <div class="row mt-5">
    <div class="card-ms-4" style="width: 18rem;">
      <img
        src={`https://image.tmdb.org/t/p/w300/${data.poster_path}`}
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Titulo: {data.original_title}</h5>
        <p class="card-text">Lenguaje: {data.original_language}</p>

        <p class="card-text">Descripcion: {data.overview}</p>
        <p class="card-text">Popularidad: {data.popularity}</p>
      </div>
    </div>
     <iframe src=`https://www.youtube.com/embed/${video.key}`
     height="400" width="400">

     </iframe>
  </div>
</Layaut>
